.chatDropdownSingleItems {
    border-top: none !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    height: 350px !important;
}
  
.chatIcon {
    display: block;
    margin-top: 8px;
    margin-right: 8px;
}