.container {
    .slideFont {
        font-family: 'Open Sans' !important;
    }

    .productThumbCustom {
        a {
            &::after {
                background: unset !important;
            }
        }
    }

    .sliderBrand {
        max-height: 150px;
    }

    .brandImage {
        height: 160px;
    }
}